[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
.vs/
.idea/
*.csproj
*.sln
*.user
*.userprefs
.DS_Store
Thumbs.db

# Unity Samples
Assets/Samples/

# Unity Collaborate
.collabignore

# Unity Samples
Assets/Samples/
Assets/Samples.meta
